name: Build

on:
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-11
    steps:
      - name: Clone depot_tools
        run: |
          rm -rf depot_tools
          git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git

      - name: Clone Chromium for iOS
        run: |
          export PATH="$(pwd)/depot_tools:$PATH"
          rm -rf chromium
          mkdir chromium
          cd chromium
          fetch --no-history ios
          rm -rf .gclient
          wget https://gist.github.com/growtopiajaw/9a218e197be196b6f6adffc3c68344b6/raw/c5d729d58f1b731de3f14b7a1e88f537c6151c43/.gclient

      - name: Download Chromium for iOS build configurations
        run: |
          export PATH="$(pwd)/depot_tools:$PATH"
          cd chromium/src
          rm -rf .vpython .vpython3
          wget https://gist.github.com/growtopiajaw/9a218e197be196b6f6adffc3c68344b6/raw/255db913278c20e3a142b7e3295588bed7db7bc3/.vpython
          wget https://gist.github.com/growtopiajaw/9a218e197be196b6f6adffc3c68344b6/raw/255db913278c20e3a142b7e3295588bed7db7bc3/.vpython3
          pushd ios/build
          rm -rf chrome_build.gni
          wget https://gist.github.com/growtopiajaw/9a218e197be196b6f6adffc3c68344b6/raw/c5d729d58f1b731de3f14b7a1e88f537c6151c43/chrome_build.gni
          popd

      - name: Generate build directories
        env:
          API_KEY: ${{ secrets.API_KEY }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
        run: |
          export PATH="$(pwd)/depot_tools:$PATH"
          cd chromium/src
          brew install gnu-sed
          mkdir -p out/Release-iphoneos
          pushd out/Release-iphoneos
          rm -rf args.gn || true
          wget https://gist.github.com/growtopiajaw/9a218e197be196b6f6adffc3c68344b6/raw/20aaee68f7d8a4a6fda18301f33c5c974c92e5c7/args.gn
          gsed "s/API_KEY/$API_KEY/g" -i args.gn
          gsed "s/CLIENT_ID/$CLIENT_ID/g" -i args.gn
          gsed "s/CLIENT_SECRET/$CLIENT_SECRET/g" -i args.gn
          popd
          gn gen out/Release-iphoneos

      - name: Compile Chromium for iOS
        run: |
          export PATH="$(pwd)/depot_tools:$PATH"
          cd chromium/src
          autoninja -C out/Release-iphoneos gn_all

      - name: Prepare Chromium for iOS binaries for release
        run: |
          cd chromium/src
          pushd out/Release-iphoneos
          mkdir Payload
          mv Chromium.app Payload/
          7z a -tzip -mx=9 Chromium.ipa Payload
          cp Chromium.ipa ~/
          cp Chromium.ipa ~/chromium/src/
          popd

      - name: Upload release
        uses: svenstaro/upload-release-action@2.2.1
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: Chromium.ipa
          tag: v2.0
          file_glob: true
